@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<h2>Ah! It is good to be home!</h2>

<h3>@Model.Value("homepageTitle")</h3>
<h3>@Model.Value("subTitle")</h3>