@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Products>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";

	var productsTitle = Model.Value("productsTitle");

	var productsSubTitle = Model.Value("productsSubTitle");

	var products = Model.Children;

}
<div class="row">
	<div class="col-12">
		<h1>@productsTitle</h1>
		<h2>@productsSubTitle</h2>
	</div>
</div>
<div class="row">
	<div class="col-12">
		@foreach (var product in products)
		{
			var productName = product.Name;
			var productSerialNumber = product.Value("productSerialNumber");
			<div class="col-sm-3">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">@productName</h4>
						<p class="card-text">@productSerialNumber</p>
					</div>
				</div>
			</div>
		}
	</div>
</div>
