@using Acme_Corporation_Core.App_Code.Models

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>You are flying here!</title>
</head>
<body>
<h2>Congratulations on your purchase!</h2>
<p><span style="font-weight: bold">Full Name: </span> @Model.full_name</p>
<p><span style="font-weight: bold">Email Address: </span> @Model.email_address</p>
<p><span style="font-weight: bold">Product Name: </span> @Model.product_name</p>
<p><span style="font-weight: bold">Product Serial Number: </span> @Model.product_serial_number</p>
</body>
</html>