@using Umbraco.Core.Composing
@inherits Umbraco.Web.Mvc.UmbracoViewPage
<header id="header" class="row header">
	<!--Main Nav links and logo-->
	<div class="header__top-nav-container">
		<div class="header__top-section">
			<div class="header__logo">
				<img src="~/src/images/acme_logo.svg" alt="Alternate Text" />
			</div>

			<ul class="header__top-links">
				@if (Members.IsLoggedIn())
				{
					var user = Members.CurrentUserName;
					var services = Current.Services.MemberService;
					var servicesResult = services.GetByUsername(user);
					var memberType = servicesResult.ContentTypeAlias;
					string[] names = servicesResult.Name.Split(' ');

					<li><a href="/" target="">Home</a></li>
					<li><a href="/products-list/" target="">Products</a></li>
					<li><a href="/login-page/" target="">Account</a></li>


					if (memberType == "adminMember")
					{
						<li><a href="/admin-page/" target="">Admin Area</a></li>
					}
				}

			</ul>
			@{
				if(Umbraco.MemberIsLoggedOn())
				{
					Html.RenderAction("RenderLogout", "Member");
				}
			}
		</div>
	</div>
</header>