@inherits Umbraco.Web.Mvc.UmbracoViewPage
<header id="header" class="row header">
	<!--Main Nav links and logo-->
	<div class="header__top-nav-container">
		<div class="header__top-section">
			<div class="header__logo">
				<img src="~/src/images/acme_logo.svg" alt="Alternate Text" />
			</div>

			<ul class="header__top-links">
				<li><a href="/" target="_blank">Home</a></li>
				<li><a href="/" target="_blank">Login</a></li>
			</ul>
		</div>
	</div>
</header>